---
import '../styles/global.css';
import ArtBox from '../components/ArtBox.astro';

import { albums } from '../data/albums';
---

<section class="music-section section-seperator" id="music">
  <p class="music-section-desc">Click the artwork to find out more!</p>

  <div class="album-gallery grid--3-cols">
    {
      albums.map(album => (
        <ArtBox
          img={album.img}
          albumTitle={album.title}
          albumDate={album.releaseDate}
          releaseDate={album.releaseDate}
          slug={album.title.replace(/\s+/g, '-').toLocaleLowerCase()}
          id={album.id}
        />
      ))
    }
  </div>
</section>

<style lang="css">
  .music-section {
    padding: 4rem 9.8rem 4rem 9.8rem;
    background-color: var(--dark-color);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .album-modal {
    padding: 6rem;
    background-color: var(--grey-color);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
  }

  .album-gallery {
    width: 100%;
  }
</style>
