---
import { Icon } from 'astro-icon';
import VideoBox from '../components/VideoBox.astro';
import YouTubeModal from '../components/YouTubeModal.astro';
import { videos } from '../data/videos';
---

<section class="video-section section-seperator" id="videos">
  <div class="video-gallery grid--2-cols">
    {
      videos.map(video => (
        <div class="video-with-more">
          <h4>{video.title}</h4>
          <VideoBox title={video.title} img={video.url} id={video.id} />
          <a
            class="link find-more-video"
            href={`/videos/${video.title
              .replace(/\s+/g, '-')
              .replace(':', '')
              .replaceAll("'", '')
              .toLocaleLowerCase()}`}
          >
            Find out more{' '}
            <Icon pack="cil" name="arrow-right" class="right-arrow" />
          </a>
        </div>
      ))
    }
  </div>
</section>

<aside class="video-modal">
  <div class="video-body">
    <div class="close-modal close-video-modal">
      <Icon
        tabindex="0"
        pack="ic"
        class="icon-mobile-nav close-video-icon"
        name="baseline-close"
      />
    </div>
    {
      videos.map(video => (
        <div>
          <YouTubeModal src={video.src} id={video.id} />
        </div>
      ))
    }
  </div>
</aside>

<script>
  import { openModal, overlayClosesModal, xClosesModal } from '../utils';

  const [...videos] = document.querySelectorAll('.video-box');
  const [...modals] = document.querySelectorAll('.video-container');
  const videoContainer = document.querySelector('.video-modal');
  const closeModal = document.querySelectorAll('.close-video-modal');

  const pauseVideoWhenClose = () => {
    const [...youtubeVid] = document.getElementsByTagName('iframe');

    youtubeVid.forEach(vid => {
      vid.contentWindow.postMessage(
        '{"event":"command","func":"' + 'pauseVideo' + '","args":""}',
        '*'
      );
    });
  };

  videos.forEach(video => {
    video.addEventListener('click', () => {
      videoContainer.classList.remove('removePointer');
      videoContainer.classList.add('addPointer');
      openModal(
        modals as HTMLElement[],
        videoContainer as HTMLElement,
        video as HTMLElement
      );
    });

    video.addEventListener('keypress', (e: KeyboardEvent) => {
      if (e.key === 'Enter') {
        videoContainer.classList.remove('removePointer');
        videoContainer.classList.add('addPointer');
        openModal(
          modals as HTMLElement[],
          videoContainer as HTMLElement,
          video as HTMLElement
        );
      }
    });
  });

  videoContainer.addEventListener('click', e => {
    const { target } = e;
    if (
      target instanceof HTMLElement &&
      !target.classList.contains('youtube-video') &&
      !target.classList.contains('lty-playbtn')
    ) {
      videoContainer.classList.remove('addPointer');
      videoContainer.classList.add('removePointer');
    }

    pauseVideoWhenClose();
    overlayClosesModal(
      e as MouseEvent,
      modals as HTMLElement[],
      videoContainer as HTMLElement
    );
  });

  closeModal.forEach(close => {
    pauseVideoWhenClose();
    close.addEventListener('click', () => {
      videoContainer.classList.remove('addPointer');
      videoContainer.classList.add('removePointer');
      xClosesModal(videoContainer as HTMLElement, modals as HTMLElement[]);
    });

    close.addEventListener('keypress', (e: KeyboardEvent) => {
      if (e.key === 'Enter') {
        videoContainer.classList.remove('addPointer');
        videoContainer.classList.add('removePointer');
        xClosesModal(videoContainer as HTMLElement, modals as HTMLElement[]);
      }
    });
  });
</script>

<style lang="scss">
  .video-section {
    padding: 6.4rem 9.8rem 6.4rem 9.8rem;
    background-color: var(--dark-color);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    @media (max-width: 29em) {
      padding: 4rem 6rem;
    }
  }

  .video-gallery {
    width: 100%;

    @media (max-width: 51em) {
      display: flex !important;
      flex-direction: column;
    }
  }

  .video-modal {
    padding: 6rem;
    background-color: #f0f2e66b;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
  }

  .video-body {
    width: auto;
    height: auto;
    position: relative;
  }

  .close-modal {
    justify-self: flex-start;
    cursor: pointer;
  }

  [astro-icon] {
    height: 2rem;
    cursor: pointer;
    background-color: #090d16;
  }

  .close-video-icon {
    color: inherit;
  }

  .video-with-more {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .find-more-video {
    display: flex !important;
    align-items: center;
    gap: 1rem;
  }
</style>
