---
import BaseLayout from '../../layouts/BaseLayout.astro';
import {
  DAY_TICKETS_TITLE,
  DAY_TICKETS_ARCHIVE_DESCRIPTION,
} from '../../consts';
import { sortTicketsByDateFn } from '../../utils';
import { format } from 'date-fns';
import { Icon } from 'astro-icon/components';
import Header from '../../components/Header.astro';
import { getCollection } from 'astro:content';

const dayTickets = await getCollection('day-tickets');

const sortedTicketsByDateArr = dayTickets && sortTicketsByDateFn(dayTickets);
---

<BaseLayout
  title={DAY_TICKETS_TITLE}
  description={DAY_TICKETS_ARCHIVE_DESCRIPTION}
>
  <div class="container">
    <Header
      header="Archive"
      linkBack
      href="/day-tickets"
      linkBackTo="Day Tickets"
    />

    <p>{DAY_TICKETS_ARCHIVE_DESCRIPTION}</p>

    <div class="tix-container">
      {
        sortedTicketsByDateArr &&
          sortedTicketsByDateArr.map(group => {
            return (
              <div data-date={group[0]} class="title-block">
                <span class="title-block-date">
                  {format(
                    new Date(
                      +(group[0] as string).split('/')[2],
                      +(group[0] as string).split('/')[1] - 1,
                      +(group[0] as string).split('/')[0]
                    ),
                    'MMM-yyyy'
                  ).replace('-', ' ')}
                </span>

                {(group[1] as DayTicket[]).map(ticket => {
                  return (
                    <a
                      class="link"
                      href={`/day-tickets/${ticket.attributes.slug}`}
                      aria-label="Link to take you to the specific ticket"
                    >
                      {ticket.attributes.title}
                    </a>
                  );
                })}
              </div>
            );
          })
      }
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    width: 40rem;
    font-family: sinter, sans-serif;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .tix-container {
    width: 100%;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .title-block {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .title-block-date {
    font-weight: 600;
    font-size: 2rem;
    align-self: flex-start;
    color: #f0f2e6;
  }

  a {
    font-size: 1.6rem;

    display: flex !important;
    align-items: center;
    gap: 1rem;
  }

  [data-icon] {
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
  }
</style>
