---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { DAY_TICKETS_TITLE, DAY_TICKETS_DESCRIPTION } from '../../consts';
import { sortTicketsByDateFn } from '../../utils';
import Header from '../../components/day-tickets/Header.astro';
import TicketBody from '../../components/day-tickets/TicketBody.astro';
import { Icon } from 'astro-icon';
const API = import.meta.env.API;

const res = await fetch(`${API}/day-tickets`);

const { data: dayTickets }: { data: DayTicket[] } = await res.json();

const sortedTicketsByDateArr = dayTickets && sortTicketsByDateFn(dayTickets);

const mostRecentTicket = (sortedTicketsByDateArr[0][1][0] as DayTicket)
  .attributes as DayTicketAttributes;
---

<BaseLayout title={DAY_TICKETS_TITLE} description={DAY_TICKETS_DESCRIPTION}>
  <div class="container">
    <Header />

    <details>
      <summary>?</summary>
      <p>{DAY_TICKETS_DESCRIPTION}</p>
    </details>

    <a class="link" href="/day-tickets/archive"
      >Archive<Icon pack="cil" name="arrow-right" /></a
    >

    <TicketBody
      title={mostRecentTicket.title}
      body={mostRecentTicket.body}
      date_created={mostRecentTicket.date_created}
      publishedAt={new Date(mostRecentTicket.publishedAt)}
      slug={mostRecentTicket.slug}
    />
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    height: 100%;
    width: 30rem;
    font-family: sinter, sans-serif;
    position: relative;
    color: #f0f2e6;
    background-color: #090d16;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }

  details {
    width: 100%;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;

    font-family: sinter, sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  a {
    font-size: 1.6rem;

    margin-top: -1rem;
    display: flex !important;
    align-items: center;
    gap: 1rem;
  }

  [astro-icon] {
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
  }
</style>
