---
import { ARTIST_NAME, SUBSCRIBE_TITLE as title } from '../consts';
import { SUBSCRIBE_DESCRIPTION as description } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

import SubscribeForm from '../components/SubscribeForm.astro';
import { Icon } from 'astro-icon';
---

<BaseLayout title={title} description={description}>
  <main>
    <h2>{ARTIST_NAME}</h2>
    <a href="/" class="link"
      ><Icon pack="cil" name="arrow-left" />Back to main website</a
    >
    <h1>subscribe</h1>
    <p>
      {ARTIST_NAME}' newsletter is the only regular form of communication from
      the him. So if you want to know everything he's up to, from new music and
      upcoming/newly announced gigs to the latest merchandise releases and
      literally anything else, then you'll want to pop your name and email
      address below, otherwise, given the disjointed means of communication on
      the internet, you're liable to miss an update or two.
    </p>

    <div>
      <Icon pack="mdi" name="warning-outline" />
      <span
        >Please know, we will only ever use your name and email address to send
        you information related to {ARTIST_NAME}. You can also opt out of these
        emails at any time following the "opt-out" link on the bottom of each
        email.</span
      >
    </div>

    <SubscribeForm direction="column" />
  </main>
</BaseLayout>

<style lang="scss">
  h2 {
    text-transform: uppercase;
  }

  html {
    background-color: var(--dark-color);
  }

  img {
    width: 30rem;
    height: 100%;
  }

  main {
    margin: 0 auto;
    max-width: 50rem;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  h1 {
    font-size: 3.2rem;
    text-decoration: underline;

    margin-top: -1rem;
  }

  p {
    font-size: 1.4rem;

    line-height: 2.4rem;
  }

  a {
    margin-top: -1rem;
    display: flex !important;
    align-items: center;
    gap: 1rem;
  }

  [astro-icon] {
    height: 2rem;
    width: 2rem;
    color: yellow;
    margin-right: 1rem;
  }

  /* prettier-ignore */
  [astro-icon="cil:arrow-left"] {
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
  }

  div {
    span {
      line-height: 2.4rem;
      font-size: 1.4rem;
      font-style: italic;
    }
  }
</style>
