---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from './Header.astro';
import { ARTIST_NAME } from '../consts';

type Props = Album;

const { img, title, releaseDate, tracklist, about, credits, links } =
  Astro.props;
---

<BaseLayout title={title} description={about}>
  <Header header="Music" href="/music" linkBack />

  <div class="body">
    <div class="header">
      <h2>{title}</h2>
      <div class="album-btns">
        <a
          href={links?.smartLink}
          aria-label="Link to take you to a smartlink to find out more about streaming this album"
          target="_blank"
          rel="noreferrer noopener"
          ><button class="btn album-btn">Stream</button></a
        >
        <a
          href={links?.bandcamp}
          aria-label="Link to take you to bandcamp page for the album"
          target="_blank"
          rel="noreferrer noopener"
          ><button class="btn album-btn">Buy</button></a
        >
      </div>
    </div>

    <div class="album grid--2-cols">
      <div class="img-title-date">
        <Image
          class="album-artwork"
          src={img}
          alt={`${ARTIST_NAME} Album Art of ${title}`}
        />
        <div class="title-date">
          <span class="album-title">{title}</span>
          <span class="album-date">{releaseDate}</span>
        </div>
      </div>

      <div class="tracklist">
        <h2>Tracklist:</h2>
        <ol>
          {Object.values(tracklist).map(track => <li>{track}</li>)}
        </ol>
      </div>

      <div class="credits">
        <h2>Credits</h2>
        <ul>
          <li>
            All songs written, arranged, and produced by {credits.writtenBy}
          </li>
          <li>Mixed by {credits.mixedBy}</li>
          <li>Mastered by {credits.masteredBy}</li>
          <li>Recorded at {credits.recordedAt.join(', ')}</li>
          {credits.personel.map(person => <li>{person}</li>)}
          <li>Art design by {credits.albumArtDesignedBy}</li>
          <li>Artwork by {credits.albumArtBy}</li>
        </ul>
      </div>
      <div class="desc">
        <h2>About</h2>
        <p>
          {about}
        </p>
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  h2 {
    text-align: center;

    @media (max-width: 41em) {
      font-size: 3rem;
    }

    @media (max-width: 35em) {
      font-size: 2.2rem;
    }
  }

  .body {
    margin: 0 auto;
    padding: 4rem 6rem;
    width: 90%;
    height: 100%;
    background-color: #090d16;

    @media (max-width: 41em) {
      width: 95%;
      padding: 2rem;
    }

    @media (max-width: 35em) {
      padding: 2rem;
    }

    @media (max-width: 27em) {
      width: 100%;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .album-btns {
    margin-bottom: 4rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .album-btns a {
    width: 20%;

    @media (max-width: 59em) {
      width: 30%;
    }

    @media (max-width: 41em) {
      width: 40%;
    }

    @media (max-width: 35em) {
      width: 40%;
    }

    @media (max-width: 29em) {
      width: 40%;
    }
  }

  .album-btn {
    width: 100%;
    border: var(--border) !important;
  }

  .album {
    justify-items: center;

    @media (max-width: 59em) {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    @media (max-width: 29em) {
      padding: 0 3rem;
    }
  }
  .album .credits {
    @media (max-width: 59em) {
      order: 3;
    }
  }

  .album .desc {
    @media (max-width: 59em) {
      order: 2;
    }
  }

  .album .img-title-date {
    @media (max-width: 59em) {
      order: 2;
    }
  }

  .album-title {
    @media (max-width: 59em) {
      font-size: 1.8rem;
    }
  }

  .album-artwork {
    align-self: start;
    height: 40rem;
    width: 40rem;

    @media (max-width: 29em) {
      margin: 0 auto;
      height: 25rem;
      width: 25rem;
    }
  }

  .tracklist {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 59em) {
      margin-top: 2rem;
      order: 2;
    }
  }

  .tracklist ol {
    margin-left: 2.6rem;
    font-size: 1.6rem;
    line-height: 3rem;

    @media (max-width: 29em) {
      font-size: 1.4rem;
    }
  }

  .tracklist ol span {
    color: #6e94ce;
    margin-left: -2.6rem;
    font-size: 2rem;
    line-height: 4rem;

    @media (max-width: 29em) {
      font-size: 1.6rem;
    }
  }

  .img-title-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .title-date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
  }

  .credits {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    grid-column: 2/3;
  }

  .credits ul {
    list-style: none;
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .desc {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .desc p {
    font-size: 1.6rem;
    line-height: 2.8rem;

    @media (max-width: 29em) {
      font-size: 1.4rem;
    }
  }

  .desc a:link,
  .desc a:visited {
    color: #f0f2e6;
  }

  .desc a:hover,
  .desc a:active {
    color: #6e94ce;
  }

  .btn {
    @media (max-width: 27em) {
      font-size: 1.8rem;
      padding: 1rem !important;
    }
  }
</style>
