---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';

type Props = Album;

const { img, title, releaseDate, tracklist, about, credits, links } =
  Astro.props;
---

<div class="modal-body nodisplay" id={`modal-${releaseDate}`}>
  <div class="modal-header">
    <div class="album-modal-btns">
      <a href={links?.smartLink} aria-label='Link to take you to a smartlink to find out more about streaming this album'
         target="_blank" rel="noreferrer noopener"
        ><button class="btn album-modal-btn">Stream</button></a
      >
      <a href={links?.bandcamp} aria-label='Link to take you to bandcamp page for the album'
         target="_blank" rel="noreferrer noopener"
        ><button class="btn album-modal-btn">Buy</button></a
      >
    </div>
    <div class="close-modal" tabindex="0">
      <Icon pack="ic" class="icon-mobile-nav" name="baseline-close" />
    </div>
  </div>

  <div class="album grid--2-cols">
    <div class="img-title-date">
      <Image
        class="album-artwork-modal"
        src={img}
        alt={`Elijah James And The Nightmares Album Art of ${title}`}
      />
      <div class="title-date">
        <span class="album-title">{title}</span>
        <span class="album-date">{releaseDate}</span>
      </div>
    </div>

    <div class="tracklist">
      <h2>Tracklist:</h2>
      <ol>
        {Object.values(tracklist).map(track => <li>{track}</li>)}
      </ol>
    </div>

    <div class="credits">
      <h2>Credits</h2>
      <ul>
        <li>
          All songs written, arranged, and produced by {credits.writtenBy}
        </li>
        <li>Mixed by {credits.mixedBy}</li>
        <li>Mastered by {credits.masteredBy}</li>
        <li>Recorded at {credits.recordedAt.join(', ')}</li>
        {credits.personel.map(person => <li>{person}</li>)}
        <li>Art design by {credits.albumArtDesignedBy}</li>
        <li>Artwork by {credits.albumArtBy}</li>
      </ul>
    </div>
    <div class="desc-modal">
      <h2>About</h2>
      <p>
        {about}
      </p>
    </div>
  </div>
</div>

<script define:vars={{ releaseDate }}>
  const modal = document.getElementById(`modal-${releaseDate}`);

  modal.dataset.id = releaseDate;
</script>

<style>
  .modal-body {
    padding: 6rem;
    width: 90%;
    height: 100%;
    background-color: #090d16;
    overflow-y: auto;

    cursor: default;

    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
  }

  .album-modal-btns {
    margin-bottom: 6rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }

  .album-modal-btns a {
    width: 20%;
  }

  .album-modal-btn {
    width: 100%;
    border: var(--border) !important;
  }

  .close-modal {
    height: 4rem;
    width: 4rem;
    cursor: pointer;

    transition: all 0.3s linear;
  }

  .close-modal:hover {
    transform: scale(120%);
  }

  [astro-icon] {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .album {
    justify-items: center;
  }

  .album-artwork-modal {
    align-self: start;
    height: 40rem;
    width: 40rem;
  }

  .tracklist {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .tracklist ol {
    margin-left: 2.6rem;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .tracklist ol span {
    color: #6e94ce;
    margin-left: -2.6rem;
    font-size: 2rem;
    line-height: 4rem;
  }

  .img-title-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-date {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
  }

  .credits {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    grid-column: 2/3;
  }

  .credits ul {
    list-style: none;
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .desc-modal {
    width: 100%;
    padding: 2rem;
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .desc-modal p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .desc-modal a:link,
  .desc-modal a:visited {
    color: #f0f2e6;
  }

  .desc-modal a:hover,
  .desc-modal a:active {
    color: #6e94ce;
  }
</style>
