---
import { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { ARTIST_NAME } from '../consts';

type Props = {
  img: ImageMetadata;
  albumTitle: string;
  albumDate: string;
  releaseDate: string;
  slug: string;
  id: number;
};

const { img, albumTitle, albumDate, releaseDate, slug, id } = Astro.props;
---

<a
  class="art-box"
  href={`/music/${slug}`}
  id={`art-box-${releaseDate}`}
  tabindex="0"
>
  <div>
    <Image
      class="album-artwork"
      src={img}
      alt={`${ARTIST_NAME} Album Art of ${albumTitle}`}
      format="webp"
    />
  </div>
  <span class="album-title">{albumTitle}</span>
  <span class="album-date">{albumDate}</span>
</a>

<script define:vars={{ releaseDate }}>
  const artBox = document.getElementById(`art-box-${releaseDate}`);

  artBox.dataset.id = releaseDate;
</script>

<style>
  .art-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--light-color);

    transition: all 0.2s linear;
  }

  .art-box:hover {
    transform: scale(105%);
  }

  .album-title {
    font-size: 2rem;
    text-align: center;
  }

  .music-section-desc {
    text-align: center;
    margin-top: -2rem;
  }

  .album-date {
    font-size: 1.4rem;
  }

  .album-artwork {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 12px -1px hsla(0, 0%, 0%, 0.774);
    object-fit: cover;
    object-position: 50% 50%;
  }
</style>
