---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';

type Props = {
  img: ImageMetadata;
  title: string;
  id: number;
};

const { img, title, id } = Astro.props;
---

<div class="video-box" id={`video-box-${id}`} tabindex="0">
  <Image
    class="video-thumb"
    src={img}
    height={img.height}
    width={img.width}
    alt={`Thumbnail for ${title} Video`}
    format="webp"
  /><Icon pack="gg" class="video-icon" name="play-button-o" />
</div>

<script define:vars={{ id }}>
  const videoBox = document.getElementById(`video-box-${id}`);

  videoBox.dataset.id = id;
</script>

<style>
  .video-box {
    width: 100%;
    position: relative;
    cursor: pointer;

    transition: all 0.2s linear;
  }

  .video-box:hover {
    transform: scale(105%);
  }

  .video-thumb {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 12px -1px hsla(0, 0%, 0%, 0.774);
  }

  [astro-icon] {
    display: inline-block;
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
