---
import UnderConstruction from '../layouts/UnderConstruction.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';
import { videoData } from '../data/videos';
import Header from './Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Subscribe from './Subscribe.astro';

type Props = Video;

const { id, title, url, src } = Astro.props;
---

{
  videoData.get(title) ? (
    <BaseLayout
      title={title}
      description={`Find out more information about ${title}`}
    >
      <div class="video-container">
        <Header
          href="/videos"
          linkBack
          header={title}
          linkBackTo="videos"
          showBlinkingCursor={false}
        />
        <YouTube
          params="enablejsapi=1&version=3&playerapiid=ytplayer"
          id={src}
          class="youtube-video"
        />
        <span>What?</span>
        <p>{videoData.get(title)}</p>
      </div>

      <Subscribe />
    </BaseLayout>
  ) : (
    <UnderConstruction title={title} description="Pending..." />
  )
}

<style lang="scss">
  .video-container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .youtube-video {
    height: 95%;
    width: 95%;
  }
  span {
    font-size: 3rem;

    @media (max-width: 27em) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;

    @media (max-width: 27em) {
      font-size: 1.4rem;
    }
  }
</style>
