---
import { Image } from 'astro:assets';
const API = import.meta.env.API;
const res = await fetch(`${API}/blogs`);
const { data: blogs } = await res.json();
---

<div class="container">
  {
    blogs.map(blog => {
      return (
        <a class="img-box" href={`/blog/${blog.attributes.slug}`} aria-label=`Link to take you to a blog post for ${blog.attributes.title}`>
          <Image
            class="main-img"
            src={blog.attributes.main_img[0].img_url}
            alt={`Photo for blog post connected to ${blog.attributes.title}`}
            height={blog.attributes.main_img[0].height}
            width={blog.attributes.main_img[0].width}
            format="webp"
          />
        </a>
      );
    })
  }
</div>

<style lang="scss">
  .container {
    height: auto;
    max-width: 80rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
  }

  .img-box {
    height: 100;
    width: 100%;

    cursor: pointer;

    object-fit: contain;

    transition: all 0.5s linear;

    &:hover {
      transform: scale(110%);
    }
  }

  .main-img {
    height: 100%;
    width: 100%;
  }
</style>
