---
import BaseLayout from './BaseLayout.astro';
import TicketBody from '../components/day-tickets/TicketBody.astro';
import { Icon } from 'astro-icon/components';
import Header from '../components/Header.astro';

type Props = DayTicketAttributes;

const { title, body, date_created, publishedAt } = Astro.props;
---

<BaseLayout title={title} description=`${body.substring(0, 20)}...`>
  <div class="container">
    <Header header="Day Tickets" href="/day-tickets" linkBack />

    <div class="tix-container">
      <a class="link" href="/day-tickets/archive"
        ><Icon name="cil:arrow-left" />Archive</a
      >

      <TicketBody
        title={title}
        body={body}
        date_created={date_created}
        publishedAt={publishedAt}
      />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .tix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  a {
    font-size: 1.6rem;

    margin-top: -1rem;
    display: flex !important;
    align-items: center;
    gap: 1rem;
  }

  [data-icon] {
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
  }
</style>
